.env
$*.ts
routes/**/$*.ts
routes/**/$*.tsx
routes/**/$*.js
routes/**/$*.jsx
islands/**/$*.ts
islands/**/$*.tsx
islands/**/$*.js
islands/**/$*.jsx
components/**/$*.ts
components/**/$*.tsx
components/**/$*.js
components/**/$*.jsx
