

a svg path[name='colors']{
    display: none;
    opacity: 0.6;
}
a:hover svg path[name='colors']{
    display: block;
    /* transition: all 0.5s ease-in-out; */
    animation: .2s draw linear forwards;
    /* opacity: .1; */
}

a[active] svg path[name='colors'], a:active svg path[name='colors']{
    display: block;
    /* animation: .2s draw linear forwards; */
}


@keyframes draw {
  0% {
    stroke-width: 1;
  }
  100% {
    stroke-width: .25;
  }
}

@keyframes animated-text{
    from{width: 0%;}
    to{
        animation: none;
        width: 100%;
    }
  }

/* cursor animations */

@keyframes animated-cursor{
    from{
        border-right-width: 3px;
        border-right-color: rgba(0, 184, 0, 0.75);
    }
    to{
        border-right-width: 3px;
        border-right-color: transparent;
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(1.5deg);
    }
    75% {
        transform: rotate(-1.5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
